<div class="card bg-dark text-white" style='width: 50rem;'>
  <img class="card-img" style="opacity: 0.1;" src={{myData.imageURL}} alt="Card image cap">
  <div class="card-img-overlay">
    <img class="card-img-top" style="width: 200px;" src={{myData.imageURL}} alt="Card image cap">
    <h1 class="card-title">{{myData.name}} - {{myData.imbdRating}}</h1>
    <p>{{myData.length}} min</p>
    <p class="card-text">{{myData.description}}</p>
    <p class="card-text">Gore - {{myData.gore}}</p>
    <p class="card-text">Spookiness - {{myData.spookiness}}</p>
    <p class="card-text">Suspense - {{myData.suspense}}</p>
  </div>
</div>
